################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Laboratorium/ClassLibrary/obj
/Laboratorium/ClassLibrary/bin/Debug/netcoreapp3.1
/Laboratorium/Projekt/bin/Debug/netcoreapp3.1
/Laboratorium/Projekt/obj
/Laboratorium/Projekt/.vs/Projekt/v16
/Laboratorium/Doctors.Infrastructure/bin/Debug/netcoreapp3.1
/Laboratorium/Doctors.Infrastructure/obj/Debug/netcoreapp3.1
/Laboratorium/Doctors.Infrastructure/obj
/Laboratorium/Doctors.Web/bin/Debug/net5.0
/Laboratorium/Doctors.Web/obj
/Laboratorium/ExaminationRooms/.vs/ExaminationRooms/v16
/Laboratorium/ExaminationRooms/ExaminationRooms.Domain/bin/Debug/net5.0
/Laboratorium/ExaminationRooms/ExaminationRooms.Domain/obj
/Laboratorium/ExaminationRooms/ExaminationRooms.Infrastructure/bin/Debug/net5.0
/Laboratorium/ExaminationRooms/ExaminationRooms.Infrastructure/obj/Debug/net5.0
/Laboratorium/ExaminationRooms/ExaminationRooms.Infrastructure/obj
/Laboratorium/ExaminationRooms/ExaminationRooms.Web/bin/Debug/net5.0
/Laboratorium/ExaminationRooms/ExaminationRooms.Web/obj
/Laboratorium/ExaminationRoomsSelector/.vs/ExaminationRoomsSelector
/Laboratorium/ExaminationRoomsSelector/ExaminationRoomsSelector.Web/bin/Debug/net5.0
/Laboratorium/ExaminationRoomsSelector/ExaminationRoomsSelector.Web/obj
/Laboratorium/ExaminationRooms/ExaminationRooms.Web
/Laboratorium/ExaminationRoomsSelector/ExaminationRoomsSelector.Web
/Laboratorium/ExaminationRoomsSelector/ConsoleApp1/obj
/Laboratorium/ExaminationRoomsSelector/ExaminationRoomsSelector.Web.Tests/bin/Debug/net5.0
/Laboratorium/ExaminationRoomsSelector/ExaminationRoomsSelector.Web.Tests/obj
/Miniprojekty/Patient/Patient.Web/obj/Debug/net5.0
/Miniprojekty/Patient/Patient.Web/obj
/Miniprojekty/Visits/.vs/Visits
/Miniprojekty/Visits/Visits.Domain/bin/Debug/netcoreapp3.1
/Miniprojekty/Visits/Visits.Domain/obj
/Miniprojekty/Visits/Visits.Infrastructure/bin/Debug/netcoreapp3.1
/Miniprojekty/Visits/Visits.Infrastructure/obj
/Miniprojekty/Visits/Visits.Web/bin/Debug/net5.0
/Miniprojekty/Visits/Visits.Web/obj
/Projekt/Patient/.vs/Patient
/Projekt/Patient/Patient.Web/bin/Debug/net5.0
/Projekt/Patient/Patient.Web/obj
/Projekt/Visits/.vs/Visits
/Projekt/Visits/Visits.Domain/bin/Debug/netcoreapp3.1
/Projekt/Visits/Visits.Domain/obj
/Projekt/Visits/Visits.Infrastructure/bin/Debug/netcoreapp3.1
/Projekt/Visits/Visits.Infrastructure/obj
/Projekt/Visits/Visits.Web/bin/Debug/net5.0
/Projekt/Visits/Visits.Web/obj
/Klient/.vs/ZsutPwPatterns.WindowsApplication
/Klient/ZsutPwPatterns.WindowsApplication/bin
/Klient/ZsutPwPatterns.WindowsApplication/obj
/Klient/ZsutPwPatterns.WindowsApplication.Controller/bin/Debug/netcoreapp3.1
/Klient/ZsutPwPatterns.WindowsApplication.Controller/obj
/Klient/ZsutPwPatterns.WindowsApplication.Logic/bin/Debug
/Klient/ZsutPwPatterns.WindowsApplication.Logic/bin/x64/Debug
/Klient/ZsutPwPatterns.WindowsApplication.Logic/obj
/Klient/ZsutPwPatterns.WindowsApplication.Model/bin/Debug/netcoreapp3.1
/Klient/ZsutPwPatterns.WindowsApplication.Model/obj
/Klient/ZsutPwPatterns.WindowsApplication.Tests/bin
/Klient/ZsutPwPatterns.WindowsApplication.Tests/obj
/Klient/ZsutPwPatterns.WindowsApplication.Utilities/bin/Debug
/Klient/ZsutPwPatterns.WindowsApplication.Utilities/obj
/Projekt/Klient/.vs/ZsutPwPatterns.WindowsApplication
/Projekt/Klient/ZsutPwPatterns.WindowsApplication/bin
/Projekt/Klient/ZsutPwPatterns.WindowsApplication/obj
/Projekt/Klient/ZsutPwPatterns.WindowsApplication.Controller/bin/Debug/netcoreapp3.1
/Projekt/Klient/ZsutPwPatterns.WindowsApplication.Controller/obj
/Projekt/Klient/ZsutPwPatterns.WindowsApplication.Logic/bin
/Projekt/Klient/ZsutPwPatterns.WindowsApplication.Logic/obj
/Projekt/Klient/ZsutPwPatterns.WindowsApplication.Model/bin/Debug/netcoreapp3.1
/Projekt/Klient/ZsutPwPatterns.WindowsApplication.Model/obj
/Projekt/Klient/ZsutPwPatterns.WindowsApplication.Tests/bin
/Projekt/Klient/ZsutPwPatterns.WindowsApplication.Tests/obj
/Projekt/Klient/ZsutPwPatterns.WindowsApplication.Utilities/bin/Debug
/Projekt/Klient/ZsutPwPatterns.WindowsApplication.Utilities/obj
/Projekt/Klient/Lab_Klient_Sprawozdanie.pdf
/Projekt/Patient/Patient.Web.Tests/bin/Debug/net5.0
/Projekt/Patient/Patient.Web.Tests/obj
/Aplikacja_Webowa/.vs/ZsutPwPatterns.Application/config
/Aplikacja_Webowa/.vs/ZsutPwPatterns.Application/DesignTimeBuild
/Aplikacja_Webowa/.vs
/Aplikacja_Webowa/ZsutPwPatterns.Application.Controller/bin
/Aplikacja_Webowa/ZsutPwPatterns.Application.Controller/obj
/Aplikacja_Webowa/ZsutPwPatterns.Application.Model/bin
/Aplikacja_Webowa/ZsutPwPatterns.Application.Model/obj
/Aplikacja_Webowa/ZsutPwPatterns.Application.Tests/bin
/Aplikacja_Webowa/ZsutPwPatterns.Application.Tests/obj
/Aplikacja_Webowa/ZsutPwPatterns.Application.Utilities/bin
/Aplikacja_Webowa/ZsutPwPatterns.Application.Utilities/obj
/Aplikacja_Webowa/ZsutPwPatterns.WebApplication.BlazorServer/bin
/Aplikacja_Webowa/ZsutPwPatterns.WebApplication.BlazorServer/obj
/Aplikacja_Webowa/ZsutPwPatterns.WindowsApplication/obj
/Aplikacja_Webowa/ZsutPwPatterns.WindowsApplication.Logic/obj
/Projekt/Aplikacja_Webowa/.vs
/Projekt/Aplikacja_Webowa/ZsutPwPatterns.Application.Controller/bin
/Projekt/Aplikacja_Webowa/ZsutPwPatterns.Application.Controller/obj
/Projekt/Aplikacja_Webowa/ZsutPwPatterns.Application.Model/bin
/Projekt/Aplikacja_Webowa/ZsutPwPatterns.Application.Model/obj
/Projekt/Aplikacja_Webowa/ZsutPwPatterns.Application.Tests/bin
/Projekt/Aplikacja_Webowa/ZsutPwPatterns.Application.Tests/obj
/Projekt/Aplikacja_Webowa/ZsutPwPatterns.Application.Utilities/bin
/Projekt/Aplikacja_Webowa/ZsutPwPatterns.Application.Utilities/obj
/Projekt/Aplikacja_Webowa/ZsutPwPatterns.WebApplication.BlazorServer/bin
/Projekt/Aplikacja_Webowa/ZsutPwPatterns.WebApplication.BlazorServer/obj
